@font-face {
	font-family: 'GrandHotel';
	src: url("vendor/fonts/Grand_Hotel.ttf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Muller';
	src: url("vendor/fonts/MullerRegular.eot");
	src: url("vendor/fonts/MullerRegular.eot?#iefix") format('embedded-opentype'), url("vendor/fonts/MullerRegular.woff") format('woff'), url("vendor/fonts/MullerRegular.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Muller';
	src: url("vendor/fonts/MullerBold.eot");
	src: url("vendor/fonts/MullerBold.eot?#iefix") format('embedded-opentype'), url("vendor/fonts/MullerBold.woff") format('woff'), url("vendor/fonts/MullerBold.ttf") format('truetype');
	font-weight: bold;
	font-style: normal;
}
* {
	box-sizing: border-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}
:-ms-input-placeholder,
::-ms-input-placeholder,
::placeholder {
	color: #E8E8E8;
}
body {
	font-size: 14px;
	font-family: "Muller", sans-serif;
	color: #000000;
	font-weight: 400;
}
ol,
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4 {
	margin: 0;
}
a {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: none;
	color: #008FD5;
}
.wrapper {
	position: relative;
  overflow: hidden;
  background: url(img/back.png);
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}
.container {
	max-width: 1120px;
	margin: 0 auto;
	width: 100%;
}
.green {
	background-color: #00BDAE;
}
.purple {
	background-color: #A6529A;
}
.orange {
	background-color: #F9856F;
}
.red {
	background-color: #F55471;
}
.yellow {
	background-color: #FFF374;
}
.black_text {
	color: #000!important;
}
.white_text {
	color: #fff!important;
}
.blue_text {
	color: #0076B7!important;
}
.animate {
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
	transition: all 0.3s ease;
}
.top_wrap {
	position: relative;
}
.top_background {
	background: url(img/back.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 880px;;
}
.header_inner {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.header_wrap {
	border-bottom: 2px solid #F8F8F8;
}
.header_logo {
	width: 180px;
}
.header_logo {
	display: flex;
}
.header_account {
	display: flex;
	flex-direction: row;
	width: 134px;
}
.header_account_icon {
	width: 33.3333%;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header_account_icon:first-child {
	border-right: 1px solid #EEEEEE;
}
.header_account_icon:last-child {
	border-left: 1px solid #EEEEEE;
}
.header_search {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding-left: 120px;
	padding-right: 60px;
}
.header_search_title {
	padding-top: 12px;
}
.header_search_title ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.header_search_title ul li a {
	color: #fff;
	border-radius: 70px;
	text-align: center;
	padding: 3px 15px;
}
.header_search_title ul li a:hover {
	opacity: 0.8;
}
.header_search_form {
	position: relative;
}
.header_search_form__text {
	padding: 10px 24px;
	border-radius: 100px;
	border: 2px solid #E5E5E5;
	width: 100%;
}
.header_search_form__text:focus {
	outline: none;
	border-color: #FF4175;
}
.header_search_form__submit {
	position: absolute;
	right: 16px;
	top: 10px;
	width: 20px;
	height: 20px;
	outline: none;
	border: none;
	background-color: transparent;
	background-image: url(img/header_loop.svg);
	cursor: pointer;
}
.section {
	padding-top: 40px;
	padding-bottom: 40px;
	position: relative;
}
.main_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.main_inner_left {
	width: 25%;
}
.main_inner_right {
	width: 75%;
}
.title {
	font-family: "GrandHotel", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 54px;
	color: #FF4175;
}
.main_category {
	display: flex;
	flex-direction: column;
}
.main_category ul {
	padding-top: 36px;
}
.main_category ul li {
	padding-bottom: 15px;
}
.main_category ul li a {
	color: #000;
	display: flex;
}
.main_category ul li a:hover {
	color: #FF4175;
}
.main_category_burger {
	padding: 6px 30px;
	background: #FF4175;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 165px;
}
.main_category_burger:hover {
	background: #e63867;
}
.main_category_burger span {
	color: #fff;
	font-size: 16px;
	padding-left: 5px;
}
.main_banner_inner {
	padding-top: 18px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -16px;
	margin-right: -16px;
}
.main_banner__block:first-child {
	width: 66.6666%;
}
.main_banner__block {
	width: 33.3333%;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 32px;
}
.main_banner__item {
	height: 200px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	display: flex;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
	border-radius: 6px;
	position: relative;
}
.main_banner__item span {
	font-size: 20px;
	font-weight: bold;
	color: #FF4175;
	position: absolute;
	left: 26px;
	top: 26px;
}
.hover_pink:hover {
	box-shadow: 0px 0px 10px rgba(255, 65, 117, 0.3);
}
.top_container {
  width:100%;
  position:relative;
}
.tovar_inner.slick-slider .slick-list {
	overflow: visible;
}
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 80px;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
	animation: move_wave 10s linear infinite;
  -webkit-animation: move_wave 10s linear infinite;
	background-size: 50% 80px;
	transform-origin: center bottom;
}
.top_wave {
	top: -60px;
}
.bottom_wave {
	bottom: -40px;
}
.tovar_inner {
	padding-top: 30px;
	visibility: hidden;
	overflow: hidden;
	opacity: 0;
	transition: visibility 0s linear 300ms, opacity 300ms;
	width: 100%;
	height: 460px;
}
.tovar_inner.slick-initialized.slick-slider {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s linear 0s, opacity 300ms;
}
.tovar_wrap {
	position: relative;
	background: #FFEFF3;
}
.tovar_item__block {
	padding-left: 16px;
	padding-right: 16px;
}
.tovar_item__content {
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
	border-radius: 30px;
	width: 100%;
}
.tovar_item__img {
	padding: 26px;
}
.tovar_item__img_content {
	width: 100%;
	border-radius: 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	height: 180px;
}
.tovar_item__desc {
	display: flex;
	flex-direction: column;
	border-top: 2px solid #EEEEEE;
	padding: 20px 25px;
}
.tovar_item__meta {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.tovar_arrow {
	margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
	position: relative;
	top: -40px;
}
.arrow_item {
	margin-left: 9px;
	margin-right: 9px;
}
.tovar_item__meta_price {
	font-size: 31px;
	color: #000000;
}
.tovar_title {
	font-size: 19px;
	color: #0076B7;
	min-height: 40px;
}
.svg_ico:hover svg {
	fill: #FF4175;
}
.tovar_title:hover {
	color: #FF4175;
}
.popular_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -16px;
	margin-right: -16px;
	padding-top: 20px;
}
.popular__block {
	width: 25%;
	padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
}
.popular__block:first-child {
	width: 50%;
}
.popular__block:nth-last-child(2) {
	width: 50%;
}
.poular__item {
	height: 254px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	display: flex;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
	border-radius: 6px;
	position: relative;
}
.poular__item span {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  position: absolute;
  left: 26px;
  top: 26px;
}
.advan_wrap {
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 2px solid #E5E5E5;
	border-bottom: 2px solid #E5E5E5;
}
.advan_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -30px;
	margin-right: -30px;
}
.advan_block {
	width: 25%;
	border-right: 2px solid #E5E5E5;
	padding-left: 30px;
	padding-right: 30px;
}
.advan_block:last-child {
	border: none;
}
.advan_item {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
.advan_item__desc {
	padding-left: 16px;
}
.advan_item__desc span {
	font-size: 16px;
	font-weight: bold;
	color: #000;
}
.advan_item__desc p {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 12px;
	color: #828282;
}
.advan_section {
	padding-top: 60px;
	padding-bottom: 60px;
}
.about_section {
	background: #F4F4F4;
	padding-top: 90px;
	padding-bottom: 90px;
}
.about_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.about_img {
	width: 45%;
}
.about_desc {
	width: 55%;
}
.about_img_content {
	width: 471px;
	height: 560px;
	position: absolute;
	top: -120px;
	left: -20px;
}
.about_desc__text h2 {
	font-size: 40px;
}
.about_desc__text a {
	background: #FF4175;
	border-radius: 10px;
	color: #fff;
	font-weight: bold;
	padding: 10px 32px;
}
.about_wrap {
	position: relative;
}
.hover_back_pink:hover {
	background: #e63867;
}
.about_desc__text p {
	margin-bottom: 30px;
}
.newsletter_inner {
	display: flex;
	flex-direction: row;
}
.newsletter_desc {
	display: flex;
	flex-direction: row;
	width: 280px;
}
.newsletter_desc__text {
	width: 170px;
	padding-left: 20px;
	display: flex;
	align-items: center;
}
.newsletter_desc__text span {
	font-size: 16px;
	color: #FF4175;
	font-weight: bold;
}
.newsletter_input {
	flex: 1;
	display: flex;
	flex-direction: row;
}
.newsletter_input__text {
	font-size: 16px;
	color: #000;
	border: 2px solid #FF4175;
	border-radius: 10px 0 0 10px;
	padding: 16px 30px;
	flex: 1;
	outline: none;
}
.newsletter_input__submit {
	background: #FF4175;
	border-radius: 0px 10px 10px 0px;
	border: none;
	outline: none;
	padding: 18px 56px;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
}
.newsletter_container {
	margin: 0 auto;
	max-width: 980px;
}
.newsletter_section {
	padding-top: 60px;
	padding-bottom: 60px;
}
.footer {
	background: #FF4175;
	padding-top: 60px;
	padding-bottom: 80px;
}
.footer_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.footer_logo {
	word-wrap: 160px;
}
.footer_social {
	width: 120px;
}
.footer_menu {
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.footer_menu__block {
	padding-left: 25px;
	padding-right: 25px;
}
.footer_menu__item_menu {
	display: flex;
	flex-direction: column;
}
.footer_menu__item_menu li {
	padding-bottom: 10px;
}
.footer_menu__item_menu li a {
	color: #fff;
	font-size: 16px;
}
.footer_menu__item_title {
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	padding-bottom: 16px;
	display: flex;
}
.footer_social__content_icon {
	display: flex;
	flex-direction: row;
}
.footer_social__content_icon li {
	padding-right: 10px;
}
.footer_social__content_icon li a {
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer_social__content span {
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 16px;
	display: flex;
}
@media (max-width: 1200px) {
	.container {
		max-width: 980px;
	}
}
@media (max-width: 1024px) {
	.container {
		max-width: 768px;
	}
}
@media (max-width: 800px) {
	.container {
		max-width: 568px;
	}
}
@media (max-width: 600px) {
	.container {
		max-width: 100%;
	}
}
